@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 6px;
}

@layer base {
  :focus-visible {
    @apply outline-none ring-2 ring-primary-400  ring-inset;
  }
  .link {
    @apply border-b border-transparent  hover:border-b-primary-500 hover:text-primary-500 transition duration-300;
  }
}

@layer utilities {
  .container {
    @apply max-w-[1012px] mx-auto;
  }

  .container-xl {
    @apply max-w-[1280px] mx-auto;
  }

  .btn {
    @apply px-4 py-1.5 bg-primary-500 hover:bg-primary-600 text-sm text-neutral-50 rounded-lg w-full block text-center transition-all duration-200 capitalize font-medium;
  }
}

@layer components {
  .tool-tip[data-tip]::after {
    content: attr(data-tip);
    @apply block text-xs opacity-0 invisible top-full mt-2 absolute text-white w-max bg-neutral-700 rounded-md p-2 transition-all duration-150 z-[999];
  }

  .tool-tip[data-tip]:hover::after {
    content: attr(data-tip);
    @apply visible opacity-100;
  }
}

.center-tip::after {
  right: 50%;
  transform: translateX(50%);
}

.right-tip::after {
  right: 33.33%;
}
